<%- include("Partials/Header") %>
  <div class="whole-body">
      <div class="heading">
          <h1>PongGame</h1>
      </div>
      <form action="/#" method="post">
          <div class="auth">
              <input type="text" name="uid" id="" class="id-input" placeholder="UserID" />
              <br />
              <input type="password" name="Psw" id="" class="id-input" placeholder="PassWord" />
              <br />
          </div>
          <div class="button">
              <button type='submit' id="start-btn">Login</button>
          </div>
      </form>
      <div class="singup">
          Not have account? <span><a href="/signup">SignUp</a></span>
      </div>
  </div>
  </div>
</body>

</html>
